
/* .container {
  max-width: 1500px;   
  margin: auto; 
  padding-left: 6px;
  padding-right: 6px; 
} */


.grid-2 {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    flex-wrap: wrap;
}


